{{ 'Global' | Attribute:'EmailHeader' }}

Below are your current usernames at {{ 'Global' | Attribute:'OrganizationName' }}<br/>

{% for Result in Results %}
	<br/>
	For {{ Result.Person.NickName }} {{ Result.Person.LastName }},<br/><br/>
	{% for User in Result.Users %}
		 <table style="width: 100%"><tr><td style="font-weight: normal; font-family: Helvetica, Arial, sans-serif; font-size: 14px;">
                 <strong>Username:</strong> {{ User.UserName }}</td><td>
                     {% assign isChangeable =  Result.SupportsChangePassword | Contains: User.UserName %}
{% if isChangeable %}
                     <table class="tiny-button button reset-password" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100px; overflow: hidden; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; display: block; width: auto !important; color: #ffffff; background: #2795b6; padding: 5px 0 4px; border: 1px solid #2284a1;" align="center" bgcolor="#00acee" valign="top">
                                  <a href="{{ ConfirmAccountUrl }}?cc={{ User.ConfirmationCodeEncoded }}&action=reset" style="color: #fffffe; text-decoration: none; font-weight: normal; font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Reset Password</a>
                                </td>
                              </tr>
		 </table>{% endif %}</td></tr></table>
	{% endfor %}
	<br/>
{% endfor %}

{{ 'Global' | Attribute:'EmailFooter' }}